.container-conteudo{
    display: flex;
    padding: 50px 0 50px 100px;
}

.conteudo{
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px 15px 10px;
}

.img-primaria img{
    width: 300px;
}

.imgs-secundarias{
    display: flex;
    gap: 5px;
}

.imgs-secundarias img{
    padding: 5px;
    width: 65px;
    transition: transform 0.3s ease;
}

.border-imgs{
    border: 1px solid #5f5d5d;
    cursor: pointer;
    border-radius: 5px;
}

.border-imgs img:hover{
    transform: scale(0.9);
}

@media(max-width: 775px){
    .container-conteudo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        flex-wrap: wrap;
    }
    .conteudo{
        margin: 30px;
    }

}
@media(max-width: 500px){
    .container-conteudo{
        display: inline;
        padding: 0px;
        
    }
    .conteudo{
        margin: 30px;
    }
    .imgs-secundarias{
        display: none;
    }

    #teste1{
        height: 48%;
        width: 10%;
        position: absolute;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        left:8%;
        cursor: pointer;
    }

    #teste1 img{
        width: 10px;
    }
    
    #teste1:hover{
        background-color: #817f7f57;
    }

    #teste2{
        height: 48%;
        width: 10%;
        position: absolute;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        right:8%;
        cursor: pointer;
    }

    #teste2 img{
        width: 10px;
    }
    
    #teste2:hover{
        background-color: #817f7f57;
    }
}

