.container-conteudo{
    display: flex;
    padding: 50px 0 50px 100px;
}

.conteudo{
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 15px 10px;
    border-radius: 5px;
}

.img-primaria{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

button{
    height: 90%;
    background-color: transparent;
    width: 30px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.img-primaria img{
    width: 300px;
}

.imgs-secundarias{
    display: flex;
    gap: 5px;
}

.imgs-secundarias img{
    padding: 5px;
    width: 65px;
    transition: transform 0.3s ease;
}

.border-imgs{
    border: 1px solid #5f5d5d;
    cursor: pointer;
    border-radius: 5px;
}

.border-imgs img:hover{
    transform: scale(0.9);
}

button{
    width: 20px;
}



#teste1 img, #teste2 img {
    width: 20px; /* Ajusta o tamanho do ícone */
}

@media(max-width: 775px){
    .container-conteudo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        flex-wrap: wrap;
    }
    .conteudo{
        margin: 30px;
    }

}
@media(max-width: 500px){
    .container-conteudo{
        display: inline;
        padding: 0px;
        
    }
    .conteudo{
        margin: 30px;
    }
    .imgs-secundarias{
        display: none;
    }

    
}

