body{
    margin: 0;
    background-color: #161616;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*NAVBAR*/
.navbar{
	display: flex;
    background-color: #282828;
    color: white;
}

.nav-conteudo{
	display: flex;        
    flex-direction: column;   
    justify-content: center;  
	padding-left: 30px;
	flex: 1
} 

.nav-conteudo .nav-cont-ul{
	display:flex;
    gap:30px;
}

.nav-conteudo .nav-cont-ul .data_hora{
	justify-content: right;
}


.navbar a {
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.nav-titulo{
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-titulo a{
    display: flex;
}

.nav-titulo p{
    padding-top: 10%;
}

.nav-cont-ul .data_hora {
    margin-left: auto; /* Empurra o elemento com as horas para a direita */
	margin-right: 3vh;
}

.nav-cont-ul-sideBar
{
	display: flex;
	flex-direction: column;
}

.nav-cont-ul-sideBar a
{
	padding-left: 1vh;
}

.nav-cont-ul-sideBar li
{
	width: 100%;
	padding: 15px 20px 15px 20px;

	/*talvez colocar so no ultimo para separa a data do resto*/
	/*border-bottom: 0.5px solid #b7b6b6;*/	
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
}

.nav-cont-ul-sideBar li:hover{
	background-color: #505050;
}

.nav-cont-ul-sideBar li.aberto{
	background-color: #505050;
}

.SideBarUL 
{
	max-height: 0; /* Começa com altura 0 (oculto) */
    overflow: hidden; /* Impede o conteúdo de aparecer fora da área visível */
    opacity: 0; /* Inicialmente invisível */
    transition: max-height 0.8s ease, opacity 0.5s ease; 
}

.SideBarUL.visivel {
	max-height: 300px; /* Ajuste conforme o conteúdo do menu */
    opacity: 1; 
}

.SideBarUL li 
{
	display: inline;
	padding: 0;
	height: 0px;
}

.SideBarUL li a
{
	padding-left: 7vh;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding-top: 5px;
}


.SideBarUL li a img
{
	padding-right: 10px;
}


.aba
{
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.aba img
{
	transition: transform 0.3s ease-in-out; 
}

/* esconder neste caso a imagem para depois se a pagina tiver tipo 500px colocar a imagem*/
.nav-cont-ul a .imagem {
	display: none;
	width: 24px; 
}




/* Posicionar o submenu */
.menu-item {
    position: relative; 
}


.submenu {
	display: none;
    position: absolute;
    background-color: #282828;
	width: 200px;
	left: -45px;
	border-radius: 3px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(1, 1, 1, 1);
	margin: 0px 0px 0px 40px;
}

.submenu img{
	height: 15px;
	width: 15px;
}

.submenu#Produtos{
	left: -45px;
} 

.submenu li a {
    text-decoration: none;
	border-radius: 3px;
    color: white;
    display: flex;
	align-items: center;
	padding: 10px;
}

.submenu li p {
	padding: 5px;
}

.submenu li a:hover {
    background-color: #505050;
}

.menu-item:hover .submenu {
    display: block;
}






/*FOOTER*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #282828;
  padding: 70px;
}
.footer-col{
   width: 25%;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	text-align: center;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
	margin-right: 5px;
}

.footer-col .social-links a img{
    width: 20px;
    padding-top: 22%;
}

.footer-col .social-links a:hover{
	background-color: #ffffff96;
}



/*SCROOLBAR*/
.ScrolBar, ::-webkit-scrollbar-thumb {
    padding-top: 30px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    height: 520px;
    width: 80%;
    margin: 0 auto;
    scrollbar-width:auto;
}

::-webkit-scrollbar {
    width: 0.5vw;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px;
    border-radius: 10px;
    background-color: #151517;
}

::-webkit-scrollbar-thumb {
    background: #5e5e5f;
    border-radius: 10px;
}





/* Sidebar */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 998; 
    display: none;
}

.button-toggle {
	font-size: 20px;
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
	padding: 5px;
	border-radius: 4px;
	display: none;
	margin-left: auto; /* Empurra o elemento com as horas para a direita */
	margin-right: 3vh;
}

.button-toggle img{
	width: 20px;
}

.sidebar {
	position: fixed;
	right: -80%;
	/* Inicialmente escondida no lado direito */
	top: 0;
	width: 80%;
	height: 100%;
	background-color: #282828;
	color: white;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
	/* Animação suave ao abrir/fechar */
	transition: right 0.3s ease;
	z-index: 999;
}

.sidebar.open {
	/* Mostra a sidebar */
	right: 0;	
}

.sidebar .button-close {
	font-size: 18px;
	background-color: transparent;
	color: white;
	border: none;
	text-align: left;
	padding: 10px 15px;
	cursor: pointer;
}



@media(max-width: 840px){

  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}

	
}
  
@media(max-width: 782px){

	.nav-cont-ul a .texto {
		display: none; 
	}

	.nav-cont-ul a .imagem {
		display: block;
	}

	.nav-conteudo .nav-cont-ul{
		display: none;
	}
	.button-toggle{
		display: inline;
	}

}


@media(max-width: 500px)
{
	.footer-col {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.footer-col h4 {
		margin-bottom: 20px; 
	}

	.footer-col h4::before{
	 	left:50%;
	 	transform: translateX(-50%);
	}
}