/* Reset básico e formatação geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 30px;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 12px;
    text-align: left;
    font-size: 1rem;
    color: #555;
}

th {
    background-color: #333;
    color: #ffffff;
    text-transform: uppercase;
}

td {
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

th[id="componentes"] {
    min-width: 30%;
}

table button {
    background-color: #505050;
    color: white;
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

table button:hover {
    background-color: #e4e3e385;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

#labelPreco {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
}

.botaoRemove
{
    display: none;
}

.component-table-componente{
    margin: 2% 0% 1% 0%; 
    display: flex;
}


/* POP UP*/
.container-popup{
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
    justify-content: center;
}

.texto-popup{
    display: flex;
    align-items: center;
    padding: 10px 15px 10px 15px;
    background-color: #4b4b4b;
    border-radius: 8px;
    font-size: 15px;
}

.img-popup{
   width: 25px;
   height: 25px;
   padding: 5px;
   border-radius: 50px;
   background-color: rgba(255, 0, 0, 0.907);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
}

.img-popup img{
    width: 18px;
    height: 18px;
}

.abertoPopUp{
    animation: PopUpBaixo 0.5s ease forwards;
    display: flex;
}

.btnGuardar{
    background-color: #505050;
    color: white;
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.descricao{
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

@keyframes PopUpBaixo {
    0% {
        top: -100%; 
        opacity: 0;
    }
    100% {
        top: 50px;
        opacity: 1;
    }
}

@keyframes PopUpCima {
    0% {
        top: 50px; 
        opacity: 1;
    }
    100% {
        top: -100%; 
        opacity: 0;
    }
}


/* Responsividade */
@media (max-width: 835px) {

    #thead {
        display: none;
    }

    .descricao{
        display: none;
    }

}
