h3,
p {
    color: #ffffff;
}

.Tabelacao {
    display: flex;
    width: 85%;
    margin: 0 0 0 7.5%;
}

.option {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
    /* Align items horizontally */
}

.option img {
    width: 85px;
    height: auto;
    margin-left: 3vw;
}

.option #NomeComponente {
    padding-left: 15px;
    width: 45%;
}

.option #DescricaoComponente {
    display: none;
}

.option #PrecoComponente {
    padding-left: 100px;
    width: 30%;
}

button[id='Selecionar']{
    background-color: #505050;
    color: white;
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[id='Selecionar']:hover {
    background-color: #e4e3e385;
}

#listar{
    margin: 0 0 2% 7.5%;
    width: 85%;
}


@media (max-width: 645px) {
    hr{
        display: none;
    }

    .Tabelacao{
        display: none;
    }

    #listar
    {
        margin: 0 0 2% 10%;
        width: 80%;
    }

    #DivP{
        background-color: #4b4b4b;
        border-radius: 10px;
        color:white;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .option{
        display: flex;
        flex-direction: column;
    }

    .option img {
        width: 70%;
    }

    .option p{
        padding-left: 12px;
    }

    .option #NomeComponente {
        width: 100%;
        font-Size: 17px;
        font-Weight: bold;
        margin-Top: 5px;
    }

    .option #DescricaoComponente {
        padding-top: 5px;
        display: inline;
    }

    .option #PrecoComponente {
        font-size: 20px;
        padding: 0;
        padding-left: 12px;
        padding-top: 20px;
        width: 100%;
        font-weight: bold;
        color: #41b857;
        padding-bottom: 15px;
    }

    button[id='Selecionar']{
        font-size: 15px;
        background-color: #41b857;
        border-radius: 5px;
        height: 40px;
        width: 200px;
        cursor: pointer;
        font-Weight: bold;
    }
    button[id='Selecionar']:hover{
        background-color: transparent;
        border: 2px solid #41b857;
        color: #41b857;
    }
    


}