body{
    margin: 0;
    background-color: #161616;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*NAVBAR*/
.navbar{
	display: flex;
    background-color: #282828;
    color: white;
}

.nav-conteudo{
	display: flex;        
    flex-direction: column;   
    justify-content: center;  
	padding-left: 30px;
	flex: 1
} 

.nav-conteudo ul{
	display:flex;
    gap:30px;
}

.nav-conteudo ul .teste{
	justify-content: right;
}

.navbar a {
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.nav-titulo{
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-titulo a{
    display: flex;
}

.nav-titulo p{
    padding-top: 10%;
}

.nav-cont-ul .teste {
    margin-left: auto; /* Empurra o elemento com as horas para a direita */
	margin-right: 3vh;
}

/* esconder neste caso a imagem para depois se a pagina tiver tipo 500px colocar a imagem*/
.nav-cont-ul a .imagem {
	display: none;
	width: 24px; 
}



/*FOOTER*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #282828;
  padding: 70px;
}
.footer-col{
   width: 25%;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);

	text-align: center;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a img{
    width: 20px;
    padding-top: 22%;
}

.footer-col .social-links a:hover{
	background-color: #ffffff;
}

/*SCROOLBAR*/
.ScrolBar, ::-webkit-scrollbar-thumb {
    padding-top: 30px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    height: 520px;
    width: 80%;
    margin: 0 auto;
    scrollbar-width:auto;
}

::-webkit-scrollbar {
    width: 0.5vw;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px;
    border-radius: 10px;
    background-color: #151517;
}

::-webkit-scrollbar-thumb {
    background: #5e5e5f;
    border-radius: 10px;
}

/*responsive*/
@media(max-width: 840px){

  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}

	
}
  
@media(max-width: 500px){

	.nav-cont-ul a .texto {
		display: none; 
	}

	.nav-cont-ul a .imagem {
	display: block;
	}
	

	.footer-col {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.footer-col h4 {
		margin-bottom: 20px; 
	}

	.footer-col h4::before{
	left:50%;
	transform: translateX(-50%);
	}
}